<h1 class="title is-4">Meat and Veggies</h1>
<div class="mb-5">
  <%= paginate @products %>
</div>
<div class="columns is-multiline">
  <%= render partial: 'product', collection: @products, locals: { show_link: true } %>
</div>